rivoli/secrets.py
rivoli/mock_answer.json
.vscode/*
.mypy_cache/*
*__pycache__*
package*
function.zip
deploy.sh
six.py
numpy/*
certify/*
PySocks-1.7.1.dist-info/
bin/*
certifi-2020.4.5.1.dist-info/*
certifi/
chardet-3.0.4.dist-info/
chardet/
idna-2.8.dist-info/
idna/
numpy-1.16.0.dist-info/
oauthlib-3.1.0.dist-info/
oauthlib/
requests-2.21.0.dist-info/
requests/
requests_oauthlib-1.3.0.dist-info/
requests_oauthlib/
six-1.15.0.dist-info/
six.pyc
socks.py
sockshandler.py
tweepy-3.8.0.dist-info/
tweepy/
urllib3-1.24.3.dist-info/
urllib3/
secrets.sh